* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
/* --- <nav> --- */
.nav {
  padding: 0 25px;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.nav_dark {
  background: #191b1f;
}

.nav__bar {
  padding-top: 40px;
  display: grid;
  justify-items: center;
  gap: 60px;
}

.nav__buttons {
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
}

.nav__button {
  background: none;
  border: none;
  outline: none;
}

.nav__burger {
  cursor: pointer;
  color: #c8cad0;
}

.nav__item {
  background: #fff;
  border-radius: 14px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 6px 24px 0px #b7b7b766;
  border: none;
  cursor: pointer;
  color: #261d56;
}

.nav__item_dark {
  background: #20232b;
  box-shadow: none;
  color: #fff;
}

.nav__item_selected {
  background-color: #fc8b40;
  color: #fff;
}

/* --- <main> --- */
.main {
  background: #fff;
}

.main__navigation {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 536px;
  height: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.main__navigation__button {
  color: #a0a8b1;
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
}

.main__navigation__button_dark {
  color: #fff;
}

.main__hero_element {
  position: relative;
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main__hero_element__text {
  position: relative;
  width: 494px;
  height: 87px;
  font-family: Rubik;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  top: 64px;
  left: 30px;
}

.main__hero_element__button {
  position: relative;
  background: #fc8b40;
  height: 55px;
  width: 160px;
  color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(202, 205, 219, 0.42);
  font-weight: bold;
  font-size: 17px;
  border-radius: 8px;
  top: 105px;
  left: 30px;
  border: none;
  cursor: pointer;
}

.main_dark {
  background: #20232b;
}
/* --- <info> --- */
.info {
  background-color: #d9d9d9;
}

.info_dark {
  background: #191b1f;
}
