* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 1024px;
  min-width: 1440px;
  display: flex;
}

.nav {
  width: 131px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__bar {
  width: 50px;
  height: 592px;
  flex-shrink: 0;
  margin-top: 50px;
}

.icon {
  width: 50px;
  height: 450px;
  border-radius: 14px;
}

.nav__button {
  background: none;
  border: none;
  outline: none;
}

.nav__burger {
  width: 30px;
  height: 25.714px;
  flex-shrink: 0;
  margin-bottom: 86.29px;
  margin-left: 10px;
  cursor: pointer;
}

.nav__item {
  background: #fff;
  border-radius: 14px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 24px 0px rgba(183, 183, 183, 0.4);
  border: none;
  cursor: pointer;
  margin-top: 30px;
  flex-shrink: 0;
}

.nav_dark {
  background: #191b1f;
}

.nav__item_dark {
  background: #20232b;
  border-radius: 14px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  flex-shrink: 0;
}

.nav__burgerDark {
  background-color: #191b1f;
}

.nav__item_selected {
  box-shadow: 0px 0px 0px 26px rgba(52, 233, 7, 0.884);
}

.nav__item:first-child {
  color: #fff;
  background-color: #fc8b40;
}

.nav__item:nth-child(n + 1) {
  color: #261d56;
}

.nav__burger {
  color: #c8cad0;
}

.nav__icon_dark {
  color: #fff;
}

.main {
  width: 983px;
  background: #fff;
}

.main_dark {
  background: #20232b;
}

.info {
  width: 326px;
  background-color: #d9d9d9;
}

.info_dark {
  background: #191b1f;
}
