* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
}

.nav {
  width: 10%;
  background: #fafafa;
}

nav__icon {
  z-index: 2;
}

.nav_dark {
  background: #191b1f;
}

.main {
  width: 60%;
  background: #fff;
}

.main_dark {
  background: #20232b;
}

.info {
  width: 30%;
  background-color: #d9d9d9;
}

.info_dark {
  background: #191b1f;
}
